setuptools==70.0.0
boto3==1.34.144
botocore==1.34.162
ipywidgets==8.1.2
langchain==0.2.10
langchain-community==0.2.10
langchain-core==0.2.38
langchain-text-splitters==0.2.4
opensearch-py==2.5.0
requests-aws4auth==1.2.3
promptcraft==0.4.8
transformers==4.38.0
bert-score==0.3.13
importlib_metadata==6.11.0
